# Replace localhost with your domain name

localhost:443 {
	tls internal
	reverse_proxy 127.0.0.1:8000
}

# phpMyAdmin on phpmyadmin.localhost (or use a different port if you prefer)
phpmyadmin.localhost {
	root * /usr/share/phpmyadmin
	php_fastcgi 127.0.0.1:9000
	file_server browse
}
